.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    margin-bottom: 30px;
    padding: 2rem;
    border-radius: 6px;
    color: var(--cor-texto-primaria);
    font-size: 24px;
    background-color: var(--cor-secundaria);
  }
  &__gap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    grid-gap: 1rem;
  }

  &__list {
    max-height: 60vh;
    overflow: auto;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    border: 1px solid var(--cor-borda-primaria);
    box-shadow: 0 3px 6px #00000029;

    a {
      text-decoration: none;
    }
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.08);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      outline: none;
      border-radius: 6px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      line-height: 1.6rem;
      padding: 0.8rem 1rem;
      background-color: white;
      border-radius: 4px;
      color: var(--cor-texto-secundaria);
      border: 1px solid var(--cor-borda-primaria);
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.03);
        transition: all 0.2s ease;
      }
    }

    &__card-label {
      font-size: 18px;
    }

    &__card-info {
      color: var(--cor-texto-primaria);
    }
  }
}
